div {
  border-style: solid;
  width: 180px;
  position: relative;
  top: 20px;
  padding: 10px;
  margin: 5px;
}

div a {
  font-weight: bold;
  font-size: 16px;
  width: 100%;
  display: inline-block;
  padding-bottom: 10px;
}

#products {
  width: auto;
}

.hidden {
  display: none;
}

#color {
  position: absolute;
  right: 10px;
}

#toggle {
  position: absolute;
  left: 40%;
  top: 50px;
}

img {
  margin: 5px;
}
